@model IEnumerable<MatxiCorp.App.Models.OrganizationModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrgID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentOrgID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrgID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentOrgID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.OrgID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.OrgID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.OrgID })
            </td>
        </tr>
}
    </tbody>
</table>
